/* Button Style */
@font-face {
    font-family: ARCADECLASSIC;
    src: url('../../../main/resources/Fonts/ARCADECLASSIC.TTF');
}

.button-view {
    -fx-spacing: 5;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #f0f0f0;
    -fx-font-family: ARCADECLASSIC;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 2;
}

/* Selected (pressed) Button Style */
.selected {
    -fx-background-color: #ffcc00;
    -fx-text-fill: #1a1a1a;
}

/* Disabled Button Style */
.disabled {
    -fx-cursor: not-allowed;
    -fx-background-color: #ff6961; /* Coral color */
    -fx-text-fill: #ffffff; /* White text color */
    -fx-border-color: transparent; /* No border for disabled buttons */
    -fx-effect: innershadow(gaussian, #ff6347, 10, 0.5, 0, 0);
}

/* Hovered Button Style */
.button:hover {
    -fx-background-color: #ffcc00;
    -fx-text-fill: #1a1a1a;
    -fx-border-color: #1a1a1a;
}
