


.root {
    -fx-background-color: #1a1a1a; /* Dark background color */
}

.solo-game-view {
    -fx-background-color: #333333; /* Dark gray background */
    -fx-alignment: center;
    -fx-pref-width: 500px;
    -fx-pref-height: 500px;
}

.name-view {
    -fx-background-color: #333333; /* Dark gray background */
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 20;
}

